<div class="form-container">
  <form [formGroup]="specialityForm" (ngSubmit)="submitForm()">
    <label for="description">Descripción:</label>
    <input type="text" id="description" formControlName="description" required>
  
    <label for="sex">Sexo:</label>
    <input type="checkbox" id="sex" formControlName="sex">
  
    <label for="state">Estado:</label>
    <input type="checkbox" id="state" formControlName="state">
  
    <label for="agegroupuuid">Grupo de Edad:</label>
    <input type="text" id="agegroupuuid" formControlName="ageGroupUuid" required> 
  
    <button type="submit">Enviar</button>
  </form>
</div>

<hr>
<h2>Valores</h2>
<pre>{{ specialityForm.value | json }}</pre>
